.Editor {
    display: flex;
    gap: 10px;
}

.Editor input {
    /* 부모의 넓이를 넘지 않는 최대 크기로 변환 */
    flex: 1;
    padding: 15px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
}

.Editor input:focus {
    outline: 1px solid rgb(37, 147, 255);
}

.Editor button {
    cursor: pointer;
    width: 80px;
    border: none;
    background-color: rgb(37, 147, 255);
    color: white;
    border-radius: 5px;
}